

<head>
	<meta charset="utf-8">
	<title>Recipe App</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../assets/css/style.css">

	{{!-- TODO: NOT WORKING YET --}}
	<!-- Custom Favicon -->
	<link rel="shortcut icon" type="image/png" href="../public/assets/images/favicon.ico"/>

	<!-- Google font link -->
	<link href="https://fonts.googleapis.com/css?family=Metrophobic|Permanent+Marker" rel="stylesheet">

</head>

<body>
	<div class="container-fluid text-center">
		<h1 class="text-center title">Recipe search</h1>

		<form id="ingredients-form">
			<div class="input-group mb-3">
				<input id="ingredient-input" class="ingredient-input" type="text" placeholder="Enter an ingredient you have, add it to your list" aria-label="" aria-describedby="basic-addon1">
				<div class="input-group-prepend">
				  <button id="find-ingredient" class="btn btn-success add-ingredient-button" type="submit">Add Ingredient</button>
				</div>
			  </div>
		</form>

		<div class="ingredients-list-wrap">Ingredients list: 
			<ol class="ingredients-list"></ol>
		</div>
		
		<!-- This form will be where users input data about the recipes -->
		<form id="recipe-form">
			<div class="directions-text">When your list is complete, search for recipes!</div>
			<label for="recipe-input"></label><br>
			<!-- This button will trigger our AJAX call -->
			<input id="find-recipe" class="btn btn-login recipe-search-button" type="submit" value="Search For Recipes">
		</form>

		{{!-- TODO: This doesn't work yet
		This will display the user's favorite recipe --}}
		<div class="favorites">
			<h1>Favorite recipe</h1>

			{{ this.users.username }}
			{{ this.users.favorited }}

			{{#each users}}
				<h1>Username: {{ this.username }}</h1>
				<h3>Favorite Recipe: {{ this.favorited }}</h3>
			{{/each}}
		</div>

		<!-- We'll be dumping our JSON contents in here -->
		<div id="recipe-view" class="col-sm-12 row"></div>

		<!-- Jquery -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<!-- Script -->
		<script src="../assets/javascript/app.js"></script>

	</div>
</body>

</html>